.navbar{
  height: 50px;
  background-color: #175634;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo_aui{
  width: 75%;
  margin-top: 5%;
}

.navButton{
  margin-left: 20px;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #175634;
  width: 150%;
}
.navButton:hover{
  background-color: #228c22;
  color: white;
}